[submodule "zipzap"]
	path = zipzap
	url = https://github.com/pixelglow/zipzap.git
[submodule "DZDocumentsPickerController"]
	path = DZDocumentsPickerController
	url = https://github.com/theand/DZDocumentsPickerController.git
[submodule "KOTree"]
	path = KOTree
	url = https://github.com/theand/KOTree.git
